.characters
{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 10.5rem);
    justify-content: space-between;
}

.main
{
    margin-left: 17rem;
    padding: 0 5%;
}

@media (max-width: 920px)
{
    .main
    {
        margin-left: 0;
    }
}

@media (max-width: 1130px)
{
    .characters
    {
        grid-template-columns: repeat(auto-fill, min(10.5rem,23%));
    }
}

@media (max-width: 600px)
{
    .characters
    {
        grid-template-columns: repeat(auto-fill, 31%);
    }
}