.container
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 17rem;
    height: 100%;
    background: #2f111cFF;
    border-radius: 0 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
    transition: 0.3s;
}

.container_small
{
    width: 5rem;
    transition: 0.3s;
}

.head
{
    width: 100%;
    padding: 0px 0px;
    height: 4rem;
    
    background:rgb(20, 7, 12);
    border-radius: 0 0px 0px 0px;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: right;
    transition: 0.3s;
}

.container_small>.head
{
    justify-content: right;
}

.collapse
{
    background:rgb(29, 10, 17);
    width: 5rem;
    height: 100%;
    transition-duration: 0.1s;
}

.collapse:hover
{
    background: #513740FF;
    transition: background;
    cursor: pointer;
}


.sideitems
{
    width: calc(100% - 20px);
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.compact
{
    width: 100%;
    background: #2f111cFF;
    height: 4rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;

    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
    transition: 0.4s;
}

.compact_nav
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70vw;
    transform: translate(-100vw,0);
    transition: transform 0.4s ease-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    background: #2f111cFF;
}