* {
    box-sizing: border-box;
    font-family: raleway;
    color: white;
}

body 
{
    background: #511d30FF;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.characters
{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 10.5rem);
    justify-content: space-between;
}

.main
{
    margin-left: 17rem;
    padding: 0 5%;
}

@media (max-width: 920px)
{
    .characters
    {
        grid-template-columns: repeat(auto-fill, 31%);
    }
}
