* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.containers
{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 10.5rem);
    justify-content: space-between;
}

@media (max-width: 540px)
{
    .containers
    {
        grid-template-columns: repeat(auto-fill, 30%);
    }
}
